/* font-family: 'Spartan', sans-serif; */

:root {
    /* Primary colors */
    --veryDarkMagenta: hsl(300, 43%, 22%);
    --softPink: hsl(333, 80%, 67%);
    --darkGrayishMagenta: hsl(303, 10%, 53%);
    --lightGrayishMagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --mainFontFamily: 'Spartan', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 15px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Spartan', sans-serif;
}

.grid-container {
    display: grid;
    height: 100%;
    padding: 120px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "header rating"
    "comments comments"
    ;
}

header {
    grid-area: header;
    padding-right: 100px;
    align-self: center;
}

header h1 {
    font-size: 3rem;
    color: var(--veryDarkMagenta);
    line-height: 1;
    margin-bottom: 15px;
}

header p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--darkGrayishMagenta);
    font-weight: 500;
}


.rating-section {
    grid-area: rating;
    position: relative;
    align-self: center;
}

.rating-section .rating-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    max-width: 400px;
    background: var(--lightGrayishMagenta);
    border-radius: 10px;
    margin-bottom: 15px;
}

.rating-section .rating-box p {
    color: var(--veryDarkMagenta);
    font-weight: bold;
}

.rating-section .box2 {
    position: relative;
    left: 100px;
}

.rating-section .box3 {
    position: relative;
    left: 200px;
}

.comments-section {
    position: relative;
    grid-area: comments;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.comments-box {
    padding: 30px;
    background: var(--veryDarkMagenta);
    max-width: 30%;
    border-radius: 10px;
}

.comments-section .boxcoment2 {
    position: relative;
    top: 25px;
}

.comments-section .boxcoment3 {
    position: relative;
    top: 50px;
}

.comments-box p {
    color: var(--lightGrayishMagenta);
    font-size: 0.9rem;
    line-height: 1.5;
}

.comments-box .perfil {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.comments-box .perfil img {
    margin-right: 15px;
    border-radius: 50%;
    width: 50px;
}

.comments-box .datos h3 {
    color: var(--white);
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.comments-box .datos h6 {
    color: var(--softPink);
    font-size: 0.8rem;
}

@media screen and (max-width: 375px) {
    
    body {
        height: 100%;
    }
    
    .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "header"
        "rating"
        "comments";
        padding: 15px;
    }

    header {
        width: 100%;
        text-align: center;
        padding: 0;
        margin-top: 40px;
        margin-bottom: 25px;
    }

   header  h1 {
       font-size: 2rem;
       padding: 15px;
   }

   .rating-section .rating-box {
       width: 100%;
       height: 70px;
       flex-direction: column;
       padding: 10px;
   }

   .rating-box .stars-box {
       margin-bottom: 3px;
   }

   .rating-section .box2 {
    left: 0;
    }

    .rating-section .box3 {
    left: 0;
    }

    .comments-section {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .comments-section .comments-box {
        max-width: 100%;
    }
}